.form {
	max-width: 20em;
	text-align: center;
	margin: auto;
}

.jumbotron {
	background-image: image-url("flagBackground.jpg");

}

.congressInfo li{
	list-style: none;
}

.senator {
	text-align: center;
}

.senatorPhoto {
	text-align: center;
	padding-left: 35px;
}

.center {
	text-align: center;
	
}





@import 'bootstrap';